.cardBook{
	width: 200px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	border: 1px solid #ccc;
}


@media (min-width: 850px){
	.cardBook{
		width: 290px;
	}
}